.nfts-container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.11vw;
    padding: 2vw 0;
}

@media only screen and (max-width: 1024px)
{
    .nfts-container
    {
        grid-template-columns: auto auto;
        gap: 5vw;
        padding: 6vw 0;
        margin: 0.5vw 0;
    }
}

@media only screen and (max-width: 480px)
{
    .nfts-container
    {
        display: flex;
        flex-flow: column nowrap;
        gap: 9vw;
        padding: 9vw 0;
        margin: 1.05vw 0;
    }
}