#top-nav
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2.98vw 7vw;
    text-align: center;
}

#main-logo
{
    width: 16.18vw;
}

#top-nav ul
{
    display: flex;
    gap: 3.33vw;
}

#top-nav a,
#top-nav a:visited
{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 4px;
}

#top-nav ul li
{
    list-style-type: none;
    font-size: 1.39vw;
}

#top-nav #connect-button
{
    width: 11.8vw;
    height: 3.3vw;
    padding: 1.1vw 1.81vw;
    padding-bottom: 0.8vw;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border: 0px;
    border-radius: 0.69vw;
    color: rgba(255, 255, 255, 1);
    font-size: 1.05vw;
}

#top-nav #hamburger
{
    display: none;
}

@media only screen and (max-width: 480px)
{

    #top-nav
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 1vh;
        width: 100%;
        padding: 7vw;
    }

    #main-logo
    {
        grid-area: 1 / 1 / 2 / 3;
        width: 32.2vw;
    }

    #top-nav #connect-button
    {
        grid-area: 1 / 4 / 2 / 5;
        width: 25vw;
        height: 6.5vw;
        padding: 2vw;
        font-size: 2vw;
        border-radius: 2.08vw;
    }

    #top-nav ul
    {
        grid-area: 2 / 1 / 2 / 5;
        justify-content: space-evenly;
        width: 100%;
        border-top: 0.009px solid #A02279;
    }

    #top-nav ul li
    {
        list-style-type: none;
        font-size: 2.7vw;
    }

    #top-nav a,
    #top-nav a:visited
    {
        width: max-content;
        padding: 8px;
    }
}