.footer
{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    padding-left: 7.85vw;
    padding-right: 14.72vw;
    background: rgba(29, 29, 30, 1);
    color: #ffffff;
}

.footer>*
{
    max-width: 25%;
    padding-bottom: 2.57vw;
    padding-top: 4.44vw;
}

footer ul
{
    list-style-type: none;
}

.logo-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-container #social-links
{
    display: flex;
    justify-content: space-between;
    width: 8.19vw;
    margin-bottom: 3.82vw;
    margin-top: 6.67vw;
}

#social-links img
{
    height: 1.25vw;
    width: auto;
}

.logo-container p
{
    padding: 0.42vw;
    font-size: 1.06vw;
}

.links-container>*
{
    padding-left: 0.69vw;
    padding-right: 0.69vw;
}

.logo-container>img
{
    width: 16.18vw;
}

.links-container h3
{
    margin-bottom: 1rem;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.7vw;
}

.links-container li a
{
    display: block;
    width: fit-content;
    padding: 0.28vw;
    margin: 0.28vw 0px;
    font-size: 0.97vw;
    line-height: 1.32vw;
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 1024px)
{
    .footer
    {
        padding: 0px 5.56vw;
    }

    .footer>*
    {
        min-width: 50%;
    }

    .logo-container
    {
        order: 1;
    }

    .logo-container #social-links
    {
        gap: 2.3vw;
    }

    .logo-container p
    {
        font-size: 1.3vw;
    }

    .links-container h3
    {
        font-size: 2.7vw;
    }

    .links-container li a
    {
        font-size: 1.5vw;
        line-height: normal;
    }
}

@media only screen and (max-width: 480px)
{
    .footer
    {
        padding: 9vw 2.61vw;
    }

    .footer>*
    {
        min-width: 100%;
        padding: 5vw 0px;
    }

    .logo-container
    {
        padding-left: 0.97vw;
        padding-right: 0.97vw;
        order: 1;
    }

    .logo-container #social-links
    {
        gap: 3vw;
    }

    .logo-container p
    {
        font-size: 2.6vw;
    }

    #social-links img
    {
        /* width: auto; */
        height: auto;
    }

    .links-container h3
    {
        margin-bottom: 0.5rem;
        font-size: 6vw;
    }

    .links-container li a
    {
        line-height: normal;
        font-size: 3.5vw;
    }
}