@font-face {
  font-family: 'Red rose';
  src: url(./assets/fonts/Red_Rose/RedRose-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Red rose', 'Geneva', 'Verdana', 'sans-serif';
}

.App {
  /* max-width: 1920px; */
  margin: auto;
}